ivs-tester/app/workflow.asl.json
{
  "StartAt": "CreateChannel",
  "States": {
    "CreateChannel": {
      "Type": "Task",
      "Resource": "${CreateChannelFunctionArn}",
      "Parameters": {
        "executionId.$": "$$.Execution.Id",
        "sourceVideoUrl.$": "$.sourceVideoUrl",
        "streamTimeoutSeconds.$": "$.streamTimeoutSeconds"
      },
      "ResultPath": "$.channel",
      "Next": "StartStream"
    },
    "StartStream": {
      "Type": "Task",
      "Resource": "${LambdaRtmpStreamFunctionArn}",
      "ResultPath": null,
      "Catch": [ {
        "ErrorEquals": ["CalledProcessError"],
        "ResultPath": null,
        "Next": "StreamStopped"
      }],
      "Next": "StreamSucceeded"
    },
    "StreamSucceeded": {
      "Type": "Pass",
      "ResultPath": null,
      "Next": "DeleteChannel"
    },
    "DeleteChannel": {
      "Type": "Task",
      "Resource": "${DeleteChannelFunctionArn}",
      "End": true
    },
    "StreamStopped": {
      "Type": "Pass",
      "ResultPath": null,
      "Next": "DeleteChannel"
    }
  }
}